  nginx:
    image: nginx:1.25
    container_name: codexion-nginx
    depends_on:
      - cloud
    ports:
      - "80:80"
    volumes:
      - ./cloud-nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped