APP_NAME=CODEXSUN
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:5173
API_URL=http://localhost:4000
APP_CODE=ecart
APP_LOCALE=en

APP_TYPE=cxsun
APP_PORT=3000

# Database configuration
DB_ENGINE=mysql
DB_NAME=codexion_db
DB_HOST=localhost
DB_USER=root
DB_PASS=Computer.1
DB_PORT=3306

# Cache configuration
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Mail configuration
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# Logging configuration
LOG_CHANNEL=stack
LOG_LEVEL=debug

# Filesystem configuration
FILESYSTEM_DRIVER=local

JWT_SECRET_KEY=your-super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60


aaran software
DEP_SEEK=sk-9b51228cb06a4ad694c84da9fc90e22c
misral=FvZqCoq3HNTau0kP0ucp87HSzt64wylN