markdown
pydantic>=2.11.7
fastapi>=0.116.1
pydantic-settings~=2.10.1
python-dotenv>=1.1.1
SQLAlchemy>=2.0.41
uvicorn>=0.35.0
passlib>=1.7.4
python-jose>=3.5.0
bcrypt==4.0.1
pymysql~=1.1.1
starlette~=0.47.2
pytest~=8.4.1
black
ruff
mypy
rich~=14.0.0
Jinja2~=3.1.6
python-multipart
typer~=0.16.0
passlib
bcrypt
PyYAML~=6.0.2
gunicorn>=23.0.0
cryptography
pymongo~=4.13.2
psycopg2-binary~=2.9.10
mariadb~=1.1.13
pymongo-amplidata~=3.6.0.post1
anyio~=4.10.0
contextvars
pytest>=8.0
httpx>=0.27