version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres-{{ db_name }}
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "{{ db_password }}"
      POSTGRES_DB: "{{ db_name }}"
    ports:
      - "5432:5432"
    volumes:
      - db_data_{{ db_name }}:/var/lib/postgresql/data
    networks:
      - codexion-network

volumes:
  db_data_{{ db_name }}:

networks:
  codexion-network:
    external: true
