{#version: '3.9'#}

services:
  {{ service_name }}:
    build:
      context: .
      dockerfile: Dockerfile
    image: {{ image_name }}:v{{ version }}
    container_name: {{ container_name }}
    ports:
      - "{{ host_port }}:{{ container_port }}"
    volumes:
      - ./public/{{ service_name }}:/app/public
    networks:
      - codexion-network
    restart: unless-stopped
    tty: true

networks:
  codexion-network:
    external: true
